.join {
    display:flex;
    padding:0 2rem;
    gap:10rem;
}

.left-j {
    color:white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position:relative;
}

.left-j > hr {
    position:absolute;
    width:10.5rem;
    border:2px solid rgb(161, 65, 252);
    border-radius:20%;
    margin: -10px 0;
}

.left-j > div {
    display:flex;
    gap:1rem;
}

.right-j {
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.email-container {
    display: flex;
    gap:3rem;
    background-color: rgba(15, 15, 15, 0.521);
    padding:1rem 2rem;
    border-radius:15px;
}

.email-container > input {
    background-color: transparent;
    border:none;
    outline:none;
    color:rgb(156, 156, 156);
    font-size: 1em;
}

.btn-j {
    background-color: rgb(98, 2, 187);
    color:white;
    border-radius: 10px;
}

.btn-j:hover {
    cursor:pointer;
    background-color: rgb(79, 3, 150);
}

